/* 
    CSS for e-vegan-numbers
    Created by: Ezequiel M. Campo Penedo
    Date: 5/8/2020
*/


/* General
============================================================
*/
:root {
    --cakeGreen: #4ea33b;
    --darkGreen: #105800;
    --lightGreen: rgb(51, 255, 0);
    --lightYellow: rgb(251, 255, 0);
    --errorRed: rgb(253, 0, 0);
    --blackTrans: rgba(0,0,0,.2);
    --blueAndGrey: rgb(124, 180, 190);
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    background: var(--cakeGreen);
    display: flex;
    justify-content: center;
    align-items: center;
}

body#index {
    flex-direction: column;
}

body#index header {
    margin-top: -30vh;
    width: 100%;
}

body#index main {
    width: 100%;
}

/* Form
============================================================
*/

form {
    width: 50%;
    justify-content: center;
    text-align: center;
}

form * {
    display: block;
    margin-bottom: calc(.5em);
}

input[type=submit] {
    margin: 0 auto;
}

form label, form legend {
    color: white;
    font-size: 1.5em;
    line-height: 20px;
    text-shadow: 0 1px 1px black;
}

form textarea {
    width: 100%;
    height: 10vh;
    resize: none;
}

fieldset {
    border: 2px solid yellowgreen;
}

/* Form - Validation errors
============================================================
*/
section.not-valid-text, section.not-valid-data {
    color: var( --lightGreen);
    font-size: 1em;
    height: calc(15px + 1.5em);
}

/* Form - Index
============================================================
*/

body#index form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body#index form input[type="text"] {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Titles
============================================================
*/

h1 {

    color:white;
    text-align: center;
    font-size: 5em;
    text-shadow: 1px 1px 5px black;
}

h1 p {
    margin: 0 auto;
}

/* List results
============================================================
*/

ul {
    width: 600px;
    height: 40vh;
    margin: 0 auto;
    margin-bottom: 20px;
    color: white;
    font: 25px bold sans-serif;
    list-style-type: none;
    overflow-y: auto;
    scrollbar-color: var(--darkGreen) var(--blackTrans);
    text-align: center;
}

li span.vegan {
    font-weight: bold;
    color: var(--lightGreen);
}

li span.not-vegan {
    font-weight: bold;
    color: var(--lightYellow);
}

li span.depends {
    font-weight: bold;
    color: var(--blueAndGrey);
}



@media screen and (max-width: 600px) {

    /* Little devices
============================================================
    */
    body#index h1{
        font-size: 12.5vw;
    }

    body#index form input[type="text"], ul {
        width: 90%;
    }
}